<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel = "icon" href="/img/weather.png">
        <link rel = "stylesheet" href="/css/styles.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Hi! This website was created by Jhasmel Cabrera. It uses information from mapbox and weatherstack</p>
            <img class="portrait" src="/img/robot.png">

        </div>
        
        {{>footer}}
    </body>
</html>



